<% content_for :head do %>
  <% if can? :edit, @kase %>
    <%= javascript_tag do %>
      var $__original_form_state;
      
      $(document).ready(function(){
        $("#kase_household_income_alternate_response").change(function(){
          update_household_stats($("#kase_household_income"), $(this).val() != "")
        });
      
        $("#kase_household_size_alternate_response").change(function(){
          update_household_stats($("#kase_household_size"), $(this).val() != "")
        });
      
        update_household_stats($("#kase_household_income"), $("#kase_household_income_alternate_response").val() != "")
      
        update_household_stats($("#kase_household_size"), $("#kase_household_size_alternate_response").val() != "")

        var $notify_case_manager = $("#notify_case_manager");
        if ($notify_case_manager.size()) {
          var $kase_form = $("form.edit_kase");
          $__original_form_state = $kase_form.serialize();
          $notify_case_manager.submit(function(){
            if ($__original_form_state != $kase_form.serialize()) {
              return confirm("You have made changes to the Case form which have not been saved. Are you sure you want to continue?");
            }
          });
          $notify_case_manager.css({float: "left", width: "60%"});
          $kase_form.find("div.actions").css({width: "auto", paddingRight: "1em"});
        }
      });
    
      function update_household_stats(input, disable) {
        $(input).attr("disabled", disable).attr("readonly", disable);
        if (disable) {
          $(input).addClass("disabled");
        }
        else {
          $(input).removeClass("disabled");
        }
      }
    <% end %>
  <% end %>
<% end %>

<%= form_for @kase do |f| %>
  <% if @kase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kase.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% @kase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if can? :edit, @kase %>
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :type %>
    <%= f.hidden_field :assessment_request_id %>
  <% end %>

  <ol class="section">
    <li>
      <%= f.label :open_date, "Opened" %>
      <% if can? :edit, @kase %>
        <%= f.text_field :open_date, :class => "datepicker", :placeholder => "yyyy-mm-dd" %>
      <% else %>
        <%= @kase.open_date.strftime("%v") unless @kase.open_date.blank? %>&nbsp;
      <% end %>
    </li>
  
    <li>
      <%= f.label :referral_source %>
      <% if can? :edit, @kase %>
        <%= f.text_field :referral_source %>
      <% else %>
        <%= @kase.referral_source %>&nbsp;
      <% end %>
    </li>

    <li>
      <%= f.label :referral_type_id, "Referral Source Type" %>
      <% if can? :edit, @kase %>
        <%= f.collection_select :referral_type_id, @referral_types, :id, :name, :prompt => '<Select Option>' %>
      <% else %>
        <%= @kase.referral_type.name unless @kase.referral_type.blank? %>&nbsp;
      <% end %>
    </li>

    <li>
      <%= f.label :user_id, "Assigned to" %>
      <% if can? :edit, @kase %>
        <%= f.collection_select :user_id, @users, :id, :display_name, :prompt => (@kase.new_record? ? '<Select Assigned to>' : false) %>
      <% else %>
        <%= @kase.assigned_to.display_name unless @kase.assigned_to.blank? %>&nbsp;
      <% end %>
    </li>

    <% if @kase.type == "TrainingKase" %>
      <li>
        <%= f.label :county, "County of Service" %>
        <% if can? :edit, @kase %>
          <%= f.select :county, Kase::VALID_COUNTIES, {:prompt => "<Select County>"} %>
        <% else %>
          <%= @kase.county %>&nbsp;
        <% end %>
      </li>

      <li>
        <%= f.label :funding_source_id, "Default Funding Source" %>
        <% if can? :edit, @kase %>
          <%= f.collection_select :funding_source_id, @funding_sources, :id, :name, :prompt => '<Select Option>' %>
        <% else %>
          <%= @kase.funding_source.name unless @kase.funding_source.blank? %>&nbsp;
        <% end %>
      </li>
    <% end -%>
    
    <% if @kase.type == "CoachingKase" %>
      <li>
        <%= f.label :case_manager_id, "Case Manager" %>
        <% if can? :edit, @kase %>
          <%= f.collection_select :case_manager_id, @case_managers, :id, :email, :prompt => (@kase.new_record? ? "<Select Case Manager>" : false), :include_blank => "N/A" %>
        <% else %>
          <%= @kase.case_manager.display_name unless @kase.case_manager.blank? %>&nbsp;
        <% end %>
      </li>

      <li>
        <%= f.label :case_manager_notification_date, "Case Manager Notification Date" %>
        <%= if @kase.case_manager_notification_date.blank? then "Not notified yet" else @kase.case_manager_notification_date.strftime("%v") end %>&nbsp;
      </li>

      <li>
        <%= f.label :assessment_language, "Assessment Language" %>
        <% if can? :edit, @kase %>
          <%= f.text_field :assessment_language %>
        <% else %>
          <%= @kase.assessment_language %>&nbsp;
        <% end %>
      </li>

      <li>
        <%= f.label :assessment_date, "Assessment Date" %>
        <% if can? :edit, @kase %>
          <%= f.text_field :assessment_date, :class => "datepicker", :placeholder => "yyyy-mm-dd" %>
        <% else %>
          <%= @kase.assessment_date.strftime("%v") unless @kase.assessment_date.blank? %>&nbsp;
        <% end %>
      </li>
      
      <li>
        <%= f.label :medicaid_eligible %>
        <% if can? :edit, @kase %>
          <% [ [ 'Not asked', '' ], [ 'No', false ], [ 'Yes', true ] ].each do |option| %>
            <%= f.radio_button :medicaid_eligible, option[1] %>
            <%= f.label :medicaid_eligible, option[0], :value => option[1], :class => 'options' %>
          <% end %><br><br>
        <% else %>
          <%= if @kase.medicaid_eligible.blank? then "N/A" else @kase.medicaid_eligible.to_s end %>&nbsp;
        <% end %>
      </li>
      
      <li>
        <%= f.label :scheduling_system_entry_required %>
        <% if can? :edit, @kase %>
          <%= f.check_box :scheduling_system_entry_required %><br><br>
        <% else %>
          <%= @kase.scheduling_system_entry_required %>&nbsp;
        <% end %>
      </li>
    <% end -%>
    
    <li>
      <%= f.label :close_date, "Closed" %>
      <% if can? :edit, @kase %>
        <%= f.text_field :close_date, :class => "datepicker", :placeholder => "yyyy-mm-dd" %>
      <% else %>
        <%= @kase.close_date.strftime("%v") unless @kase.close_date.blank? %>&nbsp;
      <% end %>
    </li>

    <li>
      <%= f.label :disposition_id, "Disposition" %>
      <% if can? :edit, @kase %>
        <%= f.collection_select :disposition_id, @dispositions, :id, :name %>
      <% else %>
        <%= @kase.disposition.name unless @kase.disposition.blank? %>&nbsp;
      <% end %>
    </li>
  
    <li>
      <%= f.label :household_size %>
      <% if can? :edit, @kase %>
        <%= f.text_field :household_size, :size => 10, :maxlength => 11, :placeholder => "ex: 12345" %> or 
        <%= f.select :household_size_alternate_response, %w( Unknown Refused ), {:include_blank => ""} %>
      <% else %>
        <%= @kase.household_size unless @kase.household_size.blank? %>
        <%= @kase.household_size_alternate_response unless @kase.household_size_alternate_response.blank? %>&nbsp;
      <% end %>
    </li>

    <li>
      <%= f.label :household_income %>
      <% if can? :edit, @kase %>
        <%= f.text_field :household_income, :size => 10, :maxlength => 11, :placeholder => "ex: 12345" %> or
        <%= f.select :household_income_alternate_response, %w( Unknown Refused ), {:include_blank => ""} %>
      <% else %>
        <%= @kase.household_income unless @kase.household_income.blank? %>
        <%= @kase.household_income_alternate_response unless @kase.household_income_alternate_response.blank? %>&nbsp;
      <% end %>
    </li>

    <li>
      <div class="actions">
        <% if can? :edit, @kase %>
          <%= f.submit "Save" %>
        <% end %>
      </div>
    </li>
  </ol>
<% end %>

<% if @kase.type == "CoachingKase" && @kase.persisted? %>
  <%= form_tag(notify_manager_kase_path(@kase), :id => "notify_case_manager") do %>
    <div class="actions">
      <%= submit_tag "Email case manager" %>
    </div>
  <% end %>
<% end %>
