<h1><%= local_assigns[:title].nil? ? 'Assessments' : title%></h1>
<% if can?(:edit, @kase) && !(@kase.type == "CoachingKase" && @kase.response_sets.count > 0)%>
  <%= link_to "Add", surveyor.available_surveys_path(kase_id: @kase.id), class: "add" %>
<% end %>
<table>
<% for response_set in @kase.response_sets %>
<% if !response_set.new_record? %>
<tr class="auto-zebra">
  <td>
    <% if response_set.completed_at.present? %>
      Completed <%= response_set.completed_at.strftime "%Y-%m-%d"  %>
    <% else %>
      Started <%= response_set.created_at.strftime "%Y-%m-%d"  %>
    <% end %>
  </td>
  <td>
    <%= response_set.survey.title %>
  </td>
  <td>
    <%= link_to "View", surveyor.view_my_survey_path(kase_id: @kase.id, survey_code: response_set.survey.access_code, response_set_code: response_set.access_code), class: "details" %>
  </td>
  <% if can?(:edit, response_set) %>
    <td>
      <%= link_to "Edit", surveyor.edit_my_survey_path(kase_id: @kase.id, survey_code: response_set.survey.access_code, response_set_code: response_set.access_code), class: :edit %>
    </td>
    <td>
      <%= link_to "", surveyor.view_my_survey_path(kase_id: @kase.id, survey_code: response_set.survey.access_code, response_set_code: response_set.access_code), class: "delete", method: :delete, data: {confirm: "Are you sure?"} %>
    </td>
  <% end %>
</tr>
<% end %>
<% end %>
</table>
