<fieldset>
  <ol class="section first" id="my_cases">
    <h1>My Cases</h1>
    <h2>Open</h2>
    <% for kase in @my_open_kases %>
      <li class="open">
        <%= link_to kase.customer.name_reversed, kase %> <%= kase_type_icon kase %>
      </li>
    <% end %>
    <h2>3 Month Follow-ups</h2>
    <% for kase in @my_three_month_follow_ups %>
      <li class="3_month_follow_ups">
        <%= link_to kase.customer.name_reversed, kase %> <%= kase_type_icon kase %> (closed <%= kase.close_date %>) 
      </li>
    <% end %>
    <h2>6 Month Follow-ups</h2>
    <% for kase in @my_six_month_follow_ups %>
      <li class="6_month_follow_ups">
        <%= link_to kase.customer.name_reversed, kase %> <%= kase_type_icon kase %> (closed <%= kase.close_date %>) 
      </li>
    <% end %>
  </ol>
  <ol class="section second" id="other_cases">
    <h1>Other Cases</h1>
    <h2>Open</h2>
    <% for kase in @other_open_kases %>
      <li class="open">
        <%= link_to kase.customer.name_reversed, kase %> <%= kase_type_icon kase %> (<%= kase.assigned_to.display_name %>) 
      </li>
    <% end %>
    <h2>3 Month Follow-ups</h2>
    <% for kase in @other_three_month_follow_ups %>
      <li class="3_month_follow_ups">
        <%= link_to kase.customer.name_reversed, kase %> <%= kase_type_icon kase %> (closed <%= kase.close_date %>) 
      </li>
    <% end %>
    <h2>6 Month Follow-ups</h2>
    <% for kase in @other_six_month_follow_ups %>
      <li class="6_month_follow_ups">
        <%= link_to kase.customer.name_reversed, kase %> <%= kase_type_icon kase %> (closed <%= kase.close_date %>) 
      </li>
    <% end %>
  </ol>
  <ol class="section third" id="wait_list">
    <h1>Wait List</h1>
    <% for kase in @wait_list %>
      <li>
        <%= link_to kase.customer.name_reversed, kase %> <%= kase_type_icon kase %> (<%= kase.open_date.strftime('%v') %>)
      </li>
    <% end %>
    <% if @kase_type == "CoachingKase" %>
      <h1>Data Entry Needed</h1>
      <% for kase in @data_entry_needed %>
        <li class="data_entry_needed">
          <%= link_to kase.customer.name_reversed, kase %> <%= kase_type_icon kase %> (<%= kase.open_date.strftime('%v') %>)
        </li>
      <% end %>
    <% end %>
  </ol>
</fieldset>
