<%= render 'shared/breadcrumbs', :target => @kase, :name => "#{@kase.class.humanized_name} Opened #{@kase.open_date.strftime("%v")}" %>
<%= link_to "Delete", kase_path(@kase), :confirm => "Are you sure you want to delete this case?", :class => "delete kase", :method => "delete" if can?(:delete, @kase)%>

<fieldset>
  <div class="first">
    <%= render "form" %>

    <%#= last_updated @kase %>
    <ol class="section" id="contacts">
      <li>
        <%= render "contacts" %>
      </li>
    </ol>
    
    <% unless @kase.type == "CoachingKase" %>
      <ol class="section" id="events">
        <li>
          <%= render "events" %>
        </li>
      </ol>
    <% end -%>
  </div>

  <div class="second">
    <ol class="section" id="surveys">
      <li>
        <%= render "surveys" %>
      </li>
    </ol>
    
    <% unless @kase.type == "CoachingKase" %>
      <ol class="section" id="trained_routes">
        <li>
          <%= render "routes", :locals=>{:edit => false} %>
        </li>
      </ol>

      <ol class="section" id="outcomes">
        <li>
          <%= render "outcomes" %>
        </li>
      </ol>
    <% end -%>
  </div>
</fieldset>
