<%= render 'shared/breadcrumbs', target: @kase, name: "#{@kase.class.humanized_name} #{(!@kase.open_date.blank?) ? "Opened #{@kase.open_date.strftime("%v")}" : "" }" %>
<%= link_to "Delete", kase_path(@kase), data: {confirm: "Are you sure you want to delete this case?"}, class: "delete kase", method: "delete" if can?(:delete, @kase)%>

<fieldset>
  <div class="first">
    <%= render "form" %>

    <%#= last_updated @kase %>
    <ol class="section" id="contacts">
      <li>
        <%= render "contacts" %>
      </li>
    </ol>
    
    <% if @kase.type == "TrainingKase" %>
      <ol class="section" id="events">
        <li>
          <%= render "events" %>
        </li>
      </ol>
    <% end -%>
    
    <% unless @kase.type == "CustomerServiceKase" %>
      <ol class="section" id="referral_documents">
        <li>
          <%= render "referral_documents" %>
        </li>
      </ol>
    <% end %>
  </div>

  <div class="second">
    <% unless @kase.type == "CustomerServiceKase" %>
      <ol class="section" id="surveys">
        <li>
          <%= render "surveys" %>
        </li>
      </ol>
    <% end %>
    
    <% if @kase.type == "TrainingKase" %>
      <ol class="section" id="trained_routes">
        <li>
          <%= render "routes", locals: {edit: false} %>
        </li>
      </ol>

      <ol class="section" id="outcomes">
        <li>
          <%= render "outcomes" %>
        </li>
      </ol>
    <% end -%>

    <% if @kase.type == "CoachingKase" %>
      <ol class="section" id="assessment_requests">
        <li>
          <%= render "assessment_requests" %>
        </li>
      </ol>
    <% end -%>

    <% if @kase.type == "CoachingKase" %>
      <ol class="section" id="trip_authorizations">
        <li>
          <%= render "trip_authorizations" %>
        </li>
      </ol>
    <% end -%>
  </div>
</fieldset>
