<div id="page-header">
  <h1>Create New User</h1>
</div>

<script type="text/JavaScript">
  $(document).ready(function() {
    $("#user_organization_id").change(function() {
      check_permissions();
    });
    check_permissions();
  });
  
  function check_permissions() {
    $("#permissions .permissions_note").remove();
    var element = $("#user_organization_id")[0];
    if (element.selectedIndex > 0) {
      $.getJSON('/organizations/'+element.options[element.selectedIndex].value+'.json', function(data) {
        if (!jQuery.isEmptyObject(data) && data.organization.organization_type == '<%= j Organization::ORGANIZATION_TYPES[:staff][:id] %>') {
          $("#permissions select").show();
        }
        else hide_permissions();
      })
      .error(function() { 
        hide_permissions(); 
      });
    } else hide_permissions();    
  }
  
  function hide_permissions() {    
    $("#permissions select")[0].selectedIndex = 0;
    $("#permissions select").hide();
    $("#permissions").append($('<p class="permissions_note">Only applies to Staff Organization users.</p>'));        
  }
</script>

<%= form_for @user, url: url_for(action: :create_user) do |f| %>
  <% if @user.errors %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <ol class="section first">
      <li>
        <%= f.label :first_name, "First name:" %>
        <%= f.text_field :first_name %>
      </li>

      <li>
        <%= f.label :last_name, "Last name:" %>
        <%= f.text_field :last_name %>
      </li>

      <li>
        <%= f.label :email, "Email:" %>
        <%= f.text_field :email %>
      </li>

      <li>
        <%= f.label :phone_number, "Phone (optional):" %>
        <%= f.text_field :phone_number %>
      </li>

      <li class="field">
        <%= f.label :organization_id %>
        <%= collection_select(:user, :organization_id, Organization.all, :id,
                              :name, prompt: true) %>
      </li>
      <li id="permissions">
        <%= f.label :permissions, "Permissions:" %>
        <%= f.select :level, [["Viewer", 0], ["Editor", 50], ["Admin", 100]] %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit "Create User" %>
    </div>

  </fieldset>

<% end %>
