<div id="page-header">
  <h1>Surveys</h1>
</div>

<%= link_to "Create New Survey", new_survey_surveys_path, :class => 'action-bttn' %>

<hr>
<% @surveys.group_by{|s| s.inactive_at ? 'Inactive' : 'Active' }.each do |status, surveys| %>
  <h2><%= status %></h2>
  <% surveys.each do |survey| %>
    <b><%= survey.title %></b>: Assessed <%= survey.response_sets.size %> times.<br>
    Created <%= survey.active_at.to_s(:human) %><br/>
    <% if survey.inactive_at %>
      Deactivated <%= survey.inactive_at.to_s(:human) %><br/>
      <%= button_to 'Reactivate', survey_reactivate_path(survey), :method=>:post %>
    <% else %>
      <%= button_to 'Deactivate', survey, :method=>:delete %>
    <% end %>
    <br>
  <% end %>
  <hr>
<% end %>

