<div id="page-header">
  <h1>
    <% if target.respond_to? :display_name %>
    <%= link_to target.display_name, target %>
    <% else %>
    <%= link_to target.customer.name, target.customer %> 
    <% end %>
    > 
    <% if target.respond_to? :kase %>
      <%= link_to "Case Opened #{target.kase.open_date.strftime("%v")}", target.kase %> 
      > 
    <% end %>
    <%= target.new_record? ? "New" : "" %>
    <%= name %>
  </h1>
</div>
