<fieldset>
<div id="outside-dashboard">
  <div class="section first">
    <h1>Pending Assessments</h1>
    <ul>
      <% @pending_assessments.each do |request| %>
        <li>
          <% if can? :edit, request %>
            <%= link_to request.display_name,
                        edit_assessment_request_path(request) %>
          <% else %>
            <%= link_to request.display_name, request %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="section second">
    <h1>Recent Cases</h1>
    <ul>
      <% @recent_cases.each do |kase| %>
        <li>
          <%= link_to kase.customer.name_reversed, kase %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="section third">
    <h1>Search</h1>
    <%= render 'search_name' %>
    <br/><br/>
    <%= render 'search_date' %>
  </div>
</div>
</fieldset>
