<li>
<%= f.label :notes %>
<%= f.text_area :notes, "data-behavior" => "autoresize" %>
</li>

<li>
<%= f.label :portrait, "Photo" %>
<% if @customer.portrait.exists? %>
  <%= image_tag @customer.portrait.url(:small), :class => "portrait" %>
  <p>
    <%= link_to "Download full-size original", image_path(@customer.portrait.url(:original)) %>
  </p>
<% end %>
<%= f.file_field :portrait %>
</li>
