<script type="text/JavaScript">
  $(document).ready(function() {
    $(".duplicate-check").change(function() {
      show_customer_matches();
    });
  });
  
  function clear_customer_matches() {
    $(".customer-matches ol li").remove();
  }

  function show_customer_matches() {
    first = $("#customer_first_name")[0].value;
    last = $("#customer_last_name")[0].value;
    if (!(first.match(/\S/) && last.match(/\S/))) { // no query
      clear_customer_matches();
      return ;
    } 

    query_name = [last, first].join(", ");

    query = encodeURIComponent(query_name);
    url = './search.json?name=' + query; 

    $.getJSON(url, function(data) {
      clear_customer_matches();
      first_rows = data.slice(0, 3);
      $.each(first_rows, function() {
        row = this["customer"];
        full_name = row["last_name"] + ", " + row["first_name"];
        link = '<a href="./' + row["id"] + '" target="_blank">' + full_name + '</a>';
        $(".customer-matches ol").append("<li>" + link + "</li>");
      });
    });
  }
</script>

<h1>New customer</h1>

<%= form_for @customer, :html => { :multipart => true }  do |f| %>
<fieldset>
  <ol class="section first">
    <%= render 'form', :f => f %>
  </ol>
  
  <ol class="section first">
    <% if @customer.new_record? %>
      <div id="error_explanation" class="customer-matches">
        <h2>Possible Duplicates:</h2>
        <ol></ol>
      </div>
    <% end %>

    <%= render 'notes_and_photo', :f => f %>
  </ol>
  
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
  
</fieldset>
<% end %>

<%= link_to 'Back', customers_path %>
