<h1>Contacts</h1>
<% if can?(:edit, @assessment_request) && @assessment_request.kase.blank? %>
  <%= link_to "Add", new_contact_path(:contact => {:contactable_type => @assessment_request.class.name, :contactable_id => @assessment_request.id}), :class => :add %>
<% end %>

<table>
  <tbody>
    <% for contact in @assessment_request.contacts %>
      <% cycle = cycle("even","odd") %>
      <tr class=<%= cycle %>>
        <td><%= contact.date_time.to_date %></td>
        <td><%= contact.method %></td>
        <td><%= contact.description %></td>
        <td><%= link_to "Details",
                  can?(:update, contact) ? edit_contact_path(contact) : contact,
                  :class=>"details" %></td>
      </tr>
      <% if contact.show_full_notes? %>
        <tr class=<%= cycle %>>
          <td></td>
          <td colspan="2"><%= contact.notes %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %> 
  </tbody>
</table>
