<%= form_for(@assessment_request, :html => { :multipart => true }) do |f| %>
  <% if @assessment_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment_request.errors.count, "error") %> prohibited this assessment_request from being saved:</h2>

      <ul>
      <% @assessment_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_first_name %><br />
    <%= f.text_field :customer_first_name,
                     :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.label :customer_last_name %><br />
    <%= f.text_field :customer_last_name,
                     :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.label :customer_phone %><br />
    <%= f.text_field :customer_phone,
                     :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.label :customer_birth_date %><br />
    <%= f.date_select :customer_birth_date,
                      :start_year => 1900, :end_year => Time.now.year,
                      :disabled => readonly %>
  </div>
  <% unless current_user.is_outside_user? %>
    <div class="field">
      <%= f.label :assignee_id, "Assigned to" %><br />
      <%= f.collection_select :assignee_id, @assignees, :id, :email, :prompt => (@assessment_request.new_record? ? '<Select Assigned to>' : false) %>
    </div>  
  <% else %>
    <% # = f.hidden_field :assignee_id %>
  <% end %>
  <div class="field">
    <%= f.label :reason_not_completed %><br />
    <%= f.select :reason_not_completed, ["Could not reach", "Duplicate request"], {:include_blank => ""} %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 5,
                    :readonly => readonly %>
  </div>
  <div class="field">
    <%= f.label :attachment, "Attachment" %><br />
    <% if @assessment_request.attachment.exists? %>
      Download:
      <%= link_to @assessment_request.attachment.original_filename,
                  @assessment_request.attachment.url %><br/><br/>
      <% if not readonly %>
        Replace attachment:<br/>
      <% end %>
    <% elsif readonly %>
      None
    <% end %>
    <% if not readonly %>
      <%= f.file_field :attachment %>
    <% end %>
  </div>
  <div class="actions">
    <% if not readonly %>
      <%= f.submit "Save" %>
    <% end %>
  </div>
<% end %>
