<fieldset>
  <ol class="first">
    <h1>Assessment Request</h1>
    <%= render 'form', :readonly => false %>
  </ol>
  <ol class="second">
    <div class="field">
      <label>Submitted by:</label>
      <%= @assessment_request.submitter.display_name %>
      &lt;<%= @assessment_request.submitter.email %>&gt;
    </div>
    <ol class="section" id="customer">
      <li>
        <%= render "customer" %>
      </li>
    </ol>

    <ol class="section" id="case">
      <li>
        <%= render "kase" %>
      </li>
    </ol>
  </ol>
</fieldset>
