<h1>Assessment Requests</h1>

<table>
  <tr>
    <th>Request Date</th>
    <th>Customer name</th>
    <th>Customer phone</th>
    <th>Customer birth date</th>
    <th>Notes</th>
    <th>Submitter</th>
    <th></th>
  </tr>

<% @assessment_requests.each do |assessment_request| %>
  <tr>
    <td>
      <% if can? :edit, assessment_request %>
        <%= link_to assessment_request.created_at.strftime("%m/%d/%4Y %I:%M %p"),
                    edit_assessment_request_path(assessment_request) %>
      <% else %>
        <%= link_to assessment_request.created_at.strftime("%m/%d/%4Y %I:%M %p"), assessment_request %>
      <% end %>
    </td>
    <td><%= assessment_request.display_name %></td>
    <td><%= assessment_request.customer_phone %></td>
    <td><%= assessment_request.customer_birth_date %></td>
    <td><%= assessment_request.notes %></td>
    <td><%= assessment_request.submitter.display_name %></td>
    <td>
      <% if can? :destroy, assessment_request %>
        <%= button_to 'Delete', assessment_request,
                      :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, AssessmentRequest %>
  <%= link_to 'New Assessment request', new_assessment_request_path %>
<% end %>
