<% content_for :head do -%>
  <%= stylesheet_link_tag 'jquery.ajax-loader.css', :media => 'screen, projection' %>
  <%= javascript_include_tag 'jquery.ajax-loader.min.js' %>
  <%= javascript_tag do %>
    jQuery.ajaxSetup({
      beforeSend: function() {
        $('body').ajaxLoader();
      },
      complete: function(){
         $('body').ajaxLoaderRemove();
      },
      success: function() {}
    });
    $(document).ready(function($){
      //
      // Pretty up the form
      //
      var $form = $('#assessment-request-filter');
      var $headers = $('#assessment-request-filter h3');
      var $user_type_filters = $('#user-type-filters li');
      var $current_status_filters = $('#current-status-filters li');
      var $assignee_filters = $('#assignee-filters li');
      
      // Adjust the header widths
      $headers.css('width', 'auto');
      h1_w = $($headers[0]).width();
      h2_w = $($headers[1]).width();
      $headers.width(Math.max(h1_w, h2_w) + 'px');
      
      // Adjust the list item widths
      $user_type_filters.css('width', 'auto');
      $current_status_filters.css('width', 'auto');
      $assignee_filters.css('width', 'auto');
      for(index = 0; index < Math.max($user_type_filters.length, $current_status_filters.length, $assignee_filters.length); index++) {
        $collection = $();
        li1_w = li2_w = li3_w = 0;
        if (index < $user_type_filters.length) {
          $li1 = $($user_type_filters[index]);
          $collection = $collection.add($li1);
          li1_w = $li1.width();
        }
        if (index < $current_status_filters.length) {
          $li2 = $($current_status_filters[index]);
          $collection = $collection.add($li2);
          li2_w = $li2.width();
        }
        if (index < $assignee_filters.length) {
          $li3 = $($assignee_filters[index]);
          $collection = $collection.add($li3);
          li3_w = $li3.width();
        }
        $collection.width(Math.max(li1_w, li2_w, li3_w) + 'px');
      }
      
      //
      // Ajaxify the form
      //
      $options = $().add($current_status_filters.find('input')).add($user_type_filters.find('input'));
      $options.change(function() {
        $.get($form.attr("action"), $form.serialize(), null, 'script');
        return false;
      });
      $form.find('input[type=submit]').hide();
    });
  <% end %> 
<% end -%>

<h1>Assessment Requests</h1>

<table id="assessment-requests">
  <caption class="box no-print">
    <h2>Filter Requests</h2>
    <%= form_tag assessment_requests_path, :method => :get, :id => "assessment-request-filter" do %>
      <h3>By Submitting User Type:</h3>
      <ul id="user-type-filters" class="filters">
        <% {:all => "Anyone", :mine => "Me", :my_organization => "My organization", :outside_users => "Outside users"}.each do |filter, label| %>
          <li>
            <%= label_tag "user-type-filter-#{filter.to_s}" do %>
              <%= radio_button_tag "user_type_filter", filter.to_s, ((!params.blank? && params[:user_type_filter] == filter.to_s) || (filter == :all && (params.blank? || params[:user_type_filter].blank?))), :id => "user-type-filter-#{filter.to_s}", :class => 'filter' %>&nbsp;<%= label %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <h3>By Current Status:</h3>
      <ul id="current-status-filters" class="filters">
        <% {:all => "All", :pending => "Pending", :not_completed => "Not completed", :completed => "Completed"}.each do |filter, label| %>
          <li>
            <%= label_tag "current-status-filter-#{filter.to_s}" do %>
              <%= radio_button_tag "current_status_filter", filter.to_s, ((!params.blank? && params[:current_status_filter] == filter.to_s) || (filter == :all && (params.blank? || params[:current_status_filter].blank?))), :id => "current-status-filter-#{filter.to_s}", :class => 'filter' %>&nbsp;<%= label %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <h3>By Assignee:</h3>
      <ul id="assignee-filters" class="filters">
        <% {:all => "All", :me => "Me"}.each do |filter, label| %>
          <li>
            <%= label_tag "assignee-filter-#{filter.to_s}" do %>
              <%= radio_button_tag "assignee_filter", filter.to_s, ((!params.blank? && params[:assignee_filter] == filter.to_s) || (filter == :all && (params.blank? || params[:assignee_filter].blank?))), :id => "assignee-filter-#{filter.to_s}", :class => 'filter' %>&nbsp;<%= label %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"><%= submit_tag "Filter", :name => nil, :disabled => false, :disable_with => "Applying filter..." %></div>
    <% end -%>
  </caption>
  <thead>
    <tr>
      <th>Request Date</th>
      <th>Customer name</th>
      <th>Customer phone</th>
      <th>Customer birth date</th>
      <th>Notes</th>
      <th>Submitter</th>
      <th>Assigned To</th>
      <th>Status</th>
      <th class="no-print"></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'assessment_requests' %>
  </tbody>
</table>

<br />

<% if can? :create, AssessmentRequest %>
  <%= link_to 'New Assessment request', new_assessment_request_path %>
<% end %>
