<fieldset>
  <ol class="first">
    <h1>Assessment Request</h1>
    <%= render 'form', readonly: true %>
  </ol>
  <ol class="second">
    <div class="field">
      <label>Submitted by:</label>
      <%= @assessment_request.submitter.display_name %>
      &lt;<%= @assessment_request.submitter.email %>&gt;,
      <%= @assessment_request.created_at.strftime("%A %B %-d, %4Y %I:%M %p")%>
    </div>
    <ol class="section" id="customer">
      <li>
        <%= render "customer" %>
      </li>
    </ol>
    <ol class="section" id="case">
      <li>
        <%= render "kase" %>
      </li>
    </ol>
    <ol class="section" id="contacts">
      <li>
        <%= render "contacts" %>
      </li>
    </ol>
  </ol>
</fieldset>
