<%= javascript_tag do %>
  function updateParentVisible() {
    var org = $("#organization_organization_type").val();
    if (org == "<%=j Organization::ORGANIZATION_TYPES[:case_mgmt][:id] %>") {
      $("#organization-parent").show();
    } else {
      $("#organization-parent").hide();
    }
  }
  $(document).ready(function() {
    updateParentVisible();
  });
<% end %>

<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :organization_type %><br />
    <%= select(:organization, :organization_type, 
               options_for_select(Organization::ORGANIZATION_TYPES.values.collect{|t| [t[:name], t[:id]]}, @organization.organization_type),
               {prompt: true},
               {onchange: "updateParentVisible();"}) %>
  </div>
  <div class="field" id="organization-parent">
    <%= f.label :parent_id, "Parent Organization (Government Body)"  %><br />
    <%= collection_select(:organization, :parent_id,
                          Organization.find_all_by_organization_type(Organization::ORGANIZATION_TYPES[:government][:id]),
                          :id, :name, {include_blank: true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
