<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Organization type</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.organization_type.name %></td>
    <td><%= organization.parent_name %></td>
    <td><%= link_to 'Show', organization %></td>
    <td>
      <% if can? :update, @organization %>
        <%= link_to 'Edit', edit_organization_path(organization) %>
      <% end %>
    </td>
    <td>
      <% if can? :destroy, @organization %>
        <%= link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Organization %>
  <%= link_to 'New Organization', new_organization_path %>
<% end %>
