<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Wiseguide" %></title>
  <%= stylesheet_link_tag "style.css", :media=>"screen" %>
  <%= stylesheet_link_tag "print.css", :media=>"print" %>
  <%= stylesheet_link_tag "jquery-ui-1.8.9.custom.css" %>
  <%= javascript_include_tag %w{jquery.min jquery-ui jquery-ui-timepicker-addon jquery-Gtimepicker jquery.fn.autoresize dateFormat application rails} %>
  <%= csrf_meta_tag %>
  <%= content_for?(:head) ? yield(:head) : '' %>
</head>
<body class="<%= bodytag_class %>">
  <div id="header">
    <div class="wrap selfclear">
      <%= link_to "WiseGuide", root_path, :id => 'logo' %>
      <div id="login-area">
        <% if current_user %>
        <%= link_to current_user.email, :controller => :users,
                    :action => :show_change_password %> |
        <%= link_to "Log out", logout_path, {:method=>"post"} %></a>
        <% end %>
      </div>
    </div><!-- /.wrap -->
  </div><!-- /#header -->
  <div id="crossbar">
    <div class="wrap selfclear">             
      <% if !current_user.nil? %>
      <ul id="primary-nav" class="selfclear">
        <% if current_user.is_outside_user? %>
          <li class="home"><%= link_to "Dashboard", root_path %></li>
          <li class="assessment-requests">
            <%= link_to "Submit Request", new_assessment_request_path %>
          </li>
        <% else %>
          <li class="customers"><%= link_to "Customers", customers_path %></li>
          <li class="coaching-kases"><%= link_to "Coaching Cases", coaching_kases_path %></li>
          <li class="training-kases"><%= link_to "Training Cases", training_kases_path %></li>
          <li class="assessment-requests">
            <%= link_to "Requests", assessment_requests_path %>
          </li>
          <li class="reports"><%= link_to "Reports", reports_path %></li>
        <% end %>
      </ul>
      <ul id="secondary-nav" class="selfclear">
        <% if !current_user.is_outside_user? %>
          <li class="admin"><%= link_to "Admin", admin_path %></li>
        <% end %>
      </ul>
      <% end %>
    </div><!-- /.wrap -->
  </div><!-- /#crossbar -->
  <div id="main">
    <div class="wrap selfclear">
      <%= raw( flash_type(:notice) + flash_type(:alert) ) %>
      <%= content_for?(:menu_bar) ? yield(:menu_bar) : '' %>
      <%= yield %>
     </div><!-- /.wrap -->
  </div><!-- /#main -->
</body>
</html>
